<section id="beneficos_principais">
    <div class="container py-5">
        <div class="row text-center">
            <!-- HEADLINE -->
            <h2 class="my-3">
                Atendimento que parece humano,<br class="d-none d-md-inline"> eficiência que só a tecnologia oferece
            </h2>
            <p class="mb-4">
                Os 4 pilares da nossa inteligência artificial aplicada à saúde.
            </p>
        </div>

        <div class="row text-center align-items-center atendimento-humanizado">
            <div class="col-lg-6 animado">
                <!-- IMAGEM RESUMINDO OS BENEFÍCIOS -->
                <img class="img-fluid w-100 w-lg-75" src="base/images/beneficio1.png?5" class="img-fluid mb-4"
                    alt="Infográfico com os 4 benefícios principais da CS IA">
            </div>
            <div class="col-lg-4 mx-auto">
                <h5 class="my-1 mt-5">Atendimento Humanizado</h5>
                <p>Treinada exclusivamente para saúde, ela reconhece sintomas, entende preocupações e responde com
                    empatia genuína e sabe quando um toque humano é necessário.
                </p>
                <h5 class="my-1">Integração Perfeita</h5>
                <p>Conecta-se diretamente ao seu sistema de gestão, acessando agendas, prontuários e
                    informações em tempo real. <br>Sem necessidade de configurações complexas ou equipe
                    técnica.
                </p>
                <h5 class="my-1">Autonomia Completa</h5>
                <p>Agenda consultas, confirma horários, envia lembretes, responde dúvidas frequentes e
                    faz triagem inicial. <br>Tudo automaticamente e sem supervisão constante da sua equipe.
                </p>
                <h5 class="my-1">Personalização Total</h5>
                <p>A linguagem, os protocolos e os fluxos de atendimento são personalizados para refletir
                    exatamente a identidade da sua clínica e especialidade médica.
                </p>
            </div>
        </div>


    </div>
</section>