<section id="como_funciona">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="linha">Implantação simples, resultados imediatos</h2>
            </div>
        </div>

        <div class="row py-5 px-3 gap-3 d-flex justify-content-center animado3" id="como_funciona_icons">
            <div class="col-12 col-lg-3 text-center flex-column d-flex align-items-center passos">
                <p class="passos">Passo 1</p>
                <div class="col-12 text-center back-fff px-2 ">
                    <i class="bi bi-sliders"></i>
                    <br>
                    <h4 class="linha">Configuração Personalizada</h4>
                    <p>Nossa equipe configura a IA de acordo com o perfil da sua clínica, especialidade e processos internos. Você aprova o tom de voz e os fluxos de atendimento.</p>
                </div>
            </div>
           <div class="col-12 col-lg-3 text-center flex-column d-flex align-items-center passos">
                <p class="passos">Passo 2</p>
                <div class="col-12 text-center back-fff px-2">
                    <i class="bi bi-diagram-3"></i> 
                    <br>
                    <h4 class="linha">Integração com seus Sistemas</h4>
                    <p>Conectamos a CS IA diretamente ao seu sistema de gestão, garantindo acesso em tempo real a agendas, cadastros e informações essenciais.</p>
                </div>
            </div>
           <div class="col-12 col-lg-3 text-center flex-column d-flex align-items-center passos">
                <p class="passos">Passo 3</p>
                <div class="col-12 text-center back-fff px-2">
                    <i class="bi bi-rocket-takeoff"></i>
                    <br>
                    <h4 class="linha">Ativação e Acompanhamento</h4>
                    <p>Em poucos dias sua IA está pronta para atender. Nossa equipe monitora os primeiros atendimentos e faz ajustes para garantir performance ideal</p>
                </div>
            </div>
            <div  class="text-center implantacao mt-5">
                <h3>Implantação em até 7 dias</h3>
                <p>sem interromper sua operação e sem necessidade de equipe técnica</p>
            </div>
        </div>

    </div>  
</section>