<section id="diferenciais_competitivos">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h2 linha">Por que a CS AI</h2>
            </div>
        </div>




        <div class="row py-5 px-1 gap-3 d-flex justify-content-center diferencas">
            <div class="col-12 col-lg-4 flex-column d-flex align-items-center cs-ai">
                <div class="col-12 text-center back-fff ">
                    <h4>CS AI</h4>
                    <ul>
                        <li class="linha">
                            <h5>Especialização em Saúde<i class="bi bi-check2-circle"></i></h5>
                            <p>Treinada para clínicas, entende termos médicos.</p>
                        </li>
                        <li class="linha">
                            <h5>Sem Necessidade de Programação<i class="bi bi-check2-circle"></i></h5>
                            <p>Configurada por nossa equipe, sem códigos.</p>
                        </li>
                        <li class="linha">
                            <h5>Integração Nativa<i class="bi bi-check2-circle"></i></h5>
                            <p>Conecta direto ao seu sistema de gestão.</p>
                        </li>
                        <li>
                            <h5>Suporte Humanizado<i class="bi bi-check2-circle"></i></h5>
                            <p>Atendimento com equipe que entende clínicas.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-4 flex-column d-flex align-items-center generico">
                <div class="col-12 text-center back-fff">
                    <h4>Soluções Genéricas</h4>
                    <ul>
                        <li class="linha">
                            <h5>Especialização em Saúde <i class="bi bi-x-circle"></i></h5>
                            <p>Chat padrão, não reconhece linguagem da saúde.</p>
                        </li>
                        <li class="linha">
                            <h5>Sem Necessidade de Programação <i class="bi bi-x-circle"></i></h5>
                            <p>Exige conhecimento técnico ou desenvolvedor.</p>
                        </li>
                        <li class="linha">
                            <h5>Integração Nativa <i class="bi bi-x-circle"></i></h5>
                            <p>Depende de plugins e integrações complicadas.</p>
                        </li>
                        <li>
                            <h5>Suporte Humanizado <i class="bi bi-x-circle"></i></h5>
                            <p>Suporte robotizado, genérico e impessoal.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mt-5 text-center">
                <a href="#" class="btn"> Falar com um especialista</a>
            </div>
        </div>



    </div>
</section>