    <footer>
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-3 py-3 text-center text-lg-start">
                    <img class="img-fluid w-75" src="base/images/logo.png" alt="">
                </div>
                <div class="col-lg-3 py-3 text-center text-lg-start">
                    <h4>Parceiros</h4>
                    <img class="img-fluid w-75" src="base/images/logo_gesthor.png" alt="">
                </div>
                <div class="col-lg-3 py-3 text-center text-lg-start">
                    <h4>Links</h4>
                    <div>

                        <a href="#">Soluções</a>
                        <br>
                        <a href="#">Beneficios</a>
                        <br>
                        <a href="#">Como Funciona</a>
                        
                    </div>
                </div>
                <div class="col-lg-3 py-3 text-center text-lg-start">
                    <h4>Contatos</h4>
                    <div>

                        <a href="#"><i class="bi bi-envelope-fill"></i> atendimento@csai.com.br</a>
                        <br>
                        <a href="#"><i class="bi bi-telephone-fill"></i> (62) 99192-5774</a>
                        <ul>
                            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                            <li><a href="#"></a><i class="bi bi-facebook"></i></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
        <div class="text-center copy">Copyright: © 2025 CS IA Connect - Todos os direitos reservados</div>
    </footer>

    
    <div class="d-flex gap-4 justify-content-center align-items-center" id="lgpd-banner">
        <p class="text-center text-muted mt-3">
            Estamos em conformidade com a <strong><a href="lgpd.php">LGPD</a></strong>.
        </p>
        <div>
            <button id="lgpd-aceitar" class="btn">Aceitar</button>
        </div>
    </div>
    
    <!--
    <script src="base/js/bootstrap.js"></script>
    -->
    <script src="base/js/bootstrap.bundle.js"></script>
    <script src="base/js/movimentacao.js"></script>
    <script src="base/js/lgpd.js"></script>
</body>
</html>