    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nisi quibusdam, soluta natus consequatur, quia reiciendis fuga eius aliquid cumque deserunt necessitatibus labore fugiat voluptates iure pariatur expedita, a voluptatum.</p>
                </div>
                <div class="col-lg-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nisi quibusdam, soluta natus consequatur, quia reiciendis fuga eius aliquid cumque deserunt necessitatibus labore fugiat voluptates iure pariatur expedita, a voluptatum.</p>
                </div>
                <div class="col-lg-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nisi quibusdam, soluta natus consequatur, quia reiciendis fuga eius aliquid cumque deserunt necessitatibus labore fugiat voluptates iure pariatur expedita, a voluptatum.</p>

                </div>
            </div>

        </div>
        <div class="text-center">Copyright: © 2025 CS IA Connect - Todos os direitos reservados</div>
    </footer>

    <!--
    <script src="base/js/bootstrap.js"></script>
    -->
    <script src="base/js/bootstrap.bundle.js"></script>
    <script src="base/js/movimentacao.js"></script>

</body>
</html>