<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSAI</title>
    <link rel="stylesheet" href="base/css/bootstrap.css">
    <!--  Import CSS local    -->
    <link rel="stylesheet" href="base/css/root.css">
    <link rel="stylesheet" href="base/css/header.css">
    <link rel="stylesheet" href="base/css/hero_section.css">
    <link rel="stylesheet" href="base/css/problema_solucao.css">
    <link rel="stylesheet" href="base/css/beneficios_principais.css">
</head>
<body>