<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary container">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.php">
        <img class="img-fluid" src="base/images/logo.png" alt="LOGO CSAI">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.php#problema_solucao">Soluções</a>
          </li>        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#beneficios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Beneficios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#beneficio1">Atendimento Humanizado</a></li>
              <li><a class="dropdown-item" href="#beneficio2">Integração Perfeita</a></li>
              <li><a class="dropdown-item" href="#beneficio3">Autonomia Completa</a></li>
              <li><a class="dropdown-item" href="#beneficio4">Personalização Total</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.php#como_funciona">Como funciona</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#perguntas_frequentes">Perguntas frequentes</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
</header>