<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSAI</title>
    <link rel="shortcut icon" href="base/images/ico.jpg" type="image/x-icon">
    <link rel="stylesheet" href="base/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!--  Import CSS local    -->
    <link rel="stylesheet" href="base/css/root.css">
    <link rel="stylesheet" href="base/css/header.css">
    <link rel="stylesheet" href="base/css/hero_section.css">
    <link rel="stylesheet" href="base/css/problema_solucao.css">
    <link rel="stylesheet" href="base/css/beneficios_principais.css">
    <link rel="stylesheet" href="base/css/como_funciona.css">
    <link rel="stylesheet" href="base/css/diferenciais_competitivos.css">
    <link rel="stylesheet" href="base/css/planos_precos.css">
    <link rel="stylesheet" href="base/css/footer.css">
</head>
<body>