<section id="hero_section">
    <div class="container">
        <div class="row align-items-center text-center text-lg-start">
            <div class="col-12 col-lg-7 pt-5">
                <h1>A IA da CS conversa como humano, agenda como secretária e nunca
                    deixa paciente sem resposta como se fosse o melhor funcionário da sua clínica.</h1>
                <p>Tudo isso de forma automática, integrada ao seu sistema, com
                    atendimento 24h e linguagem totalmente personalizada para sua realidade.</p>
                <div class="my-5">
                    <a href="#" class="btn btn1"> Falar com um especialista</a>
                    <a href="#planos_precos" class="btn btn2 "> Ver planos</a>

                </div>
                                
            </div>
            <div class="col-12 col-lg-5">
               <img class="img-fluid" src="base/images/doutor.png" alt="">
                                
            </div>
        </div>
    </div>
</section>