<section id="planos_precos">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h2 linha">Escolha o plano ideal para sua clínica</h2>
            </div>
        </div>

        <div class="row py-5 px-3 gap-3 d-flex justify-content-center" >
            <div class="col-12 col-lg-3 flex-column d-flex py-3 back-fff">
                <h4 class="mb-3 text-center linha">Plano Essencial <i class="bi bi-chat-dots"></i></h4>
                <ul>
                    <li><i class="bi bi-check-circle-fill"></i> IA para atendimento via WhatsApp</li>
                    <li><i class="bi bi-check-circle-fill"></i> Respostas automáticas para dúvidas frequentes</li>
                    <li><i class="bi bi-check-circle-fill"></i> Agendamento e confirmação de consultas</li>
                    <li><i class="bi bi-check-circle-fill"></i> Integração básica com sistema de gestão</li>
                    <li><i class="bi bi-check-circle-fill"></i> Suporte em horário comercial</li>
                </ul>
            </div>
           <div class="col-12 col-lg-3 flex-column d-flex py-3 back-fff">
                <h4 class="mb-3 text-center linha">Plano Completo <i class="bi bi-stars"></i></h4>
                <ul>
                    <li><i class="bi bi-check-circle-fill"></i> Todos os recursos do Plano Essencial</li>
                    <li><i class="bi bi-check-circle-fill"></i> Triagem inicial de pacientes</li>
                    <li><i class="bi bi-check-circle-fill"></i> Campanhas ativas de captação</li>
                    <li><i class="bi bi-check-circle-fill"></i> Integração avançada com múltiplos sistemas</li>
                    <li><i class="bi bi-check-circle-fill"></i> Relatórios detalhados de performance</li>
                    <li><i class="bi bi-check-circle-fill"></i> Suporte prioritário 24/7</li>
                </ul>
            </div>
           <div class="col-12 col-lg-3 flex-column d-flex py-3 back-fff">
                <h4 class="mb-3 text-center linha">Plano Personalizado <i class="bi bi-puzzle"></i></h4>
                <ul>
                    <li><i class="bi bi-check-circle-fill"></i> Solução sob medida para clínicas de maior porte</li>
                    <li><i class="bi bi-check-circle-fill"></i> Múltiplos canais de atendimento</li>
                    <li><i class="bi bi-check-circle-fill"></i> Fluxos totalmente customizados</li>
                    <li><i class="bi bi-check-circle-fill"></i> Integrações especiais</li>
                    <li><i class="bi bi-check-circle-fill"></i> Gerente de conta dedicado</li>
                </ul>
            </div>
        </div>
        <div  class="text-center implantacao">
                <a href="#" class="btn"> Falar com um especialista</a>
        </div>
    </div>  
</section>