<section id="problema_solucao">
    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h2"> Sua clínica perde pacientes todos os dias sem que você perceba</h2>
                <p> Enquanto você e sua equipe estão ocupados atendendo, dezenas de
                    mensagens de WhatsApp ficam sem resposta. Pacientes com dúvidas simples desistem
                    e procuram outro profissional. Horários vagos não são preenchidos. E sua recepção fica
                    sobrecarregada com tarefas repetitivas que poderiam ser automatizadas.</p>
                
            </div>
        </div>
        <div class="row pb-5 pt-5">
            <div class="col-12 col-lg-5">
                <img src="base/images/celular.jpg" class="img-fluid w-100" alt="celular com várias mensagens não respondidas acumulando-se">
            </div>
            <div class="col-12 col-lg-7 text-center text-lg-start align-self-center">
                <p><span class="badge text-bg-danger" style="font-size: 1.1em;">78%</span> dos pacientes esperam resposta em <span class="text-danger">até 1 hora</span>.
                </p>

                <p><span class="badge text-bg-danger" style="font-size: 1.1em;">64%</span> <span class="text-danger">mudam de clínica</span> após experiências negativas de comunicação.
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12 col-lg-7 text-center align-self-center">
                <p class="p">A CS IA Connect transforma completamente esse cenário. Nossa inteligência artificial especializada em saúde atende seus pacientes 24 horas por dia, 7 dias por semana, com a mesma linguagem acolhedora e profissional da sua equipe — mas sem pausas, faltas ou limitações humanas.</p>
            </div>
            <div class="col-12 col-lg-5 text-center">
                <img src="base/images/grafico.jpeg" class="img-fluid w-75"  alt="Visualização dos dados acima com ícones representativos">
            </div>
        </div>
        <div class="row pt-5 pb-5">
            
            <div class="col-6 text-center">
                <img src="base/images/celular.jpg" class="img-fluid w-75"  alt="celular com várias mensagens não respondidas acumulando-se">
            </div>
            <div class="col-6 text-center">
                <img src="base/images/celular.jpg" class="img-fluid w-75"  alt="celular com várias mensagens não respondidas acumulando-se">
            </div>
        </div>
    </div>  
</section>