
#beneficos_principais h2,
#beneficos_principais h3{
    color: var(--texto-escuro);
}

#beneficos_principais p{
    color: var(--paragrafo-escuro);
}
/*
#beneficos_principais .atendimento-humanizado{
    background-color: var(--bg-azul);
}
*/