#como_funciona {
    background-color: var(--bg-azul);
}

#como_funciona h2 {
    color: var(--texto-escuro);
}

#como_funciona h2::after {
    background-color: var(--texto-escuro);
    margin: 30px auto 0 auto;
}

#como_funciona #como_funciona_icons p.passos {
    font-weight: 600;
    color: var(--cor-primaria);
}

#como_funciona #como_funciona_icons .bi {
    font-size: 5em;
    color: var(--cor-primaria);
}

#como_funciona h4 {
    font-size: 1.2em;
    color: var(--texto-escuro);
}

#como_funciona .passos .linha::after {
    background-color: var(--bg-escuro);
}
#como_funciona .passos p {
    color: var(--paragrafo-escuro);
}

#como_funciona #como_funciona_icons .back-fff {
    margin: 5px 0px;
    border-radius: 10px;
    min-height: 320px;
    background-color: #fff;
    box-shadow: 1px 0 5px #ddd;
}


#como_funciona .implantacao h3 {
    color: var(--texto-escuro);
}
#como_funciona .implantacao p {
    color: var(--paragrafo-escuro);
}