header{
    background: linear-gradient(to right, var(--bg-primario-hero), var(--bg-secundario-hero))!important;
}
header nav.navbar{
    background-color: #00000000 !important;
}
header a.nav-link{
    color: var(--texto-claro)!important;
    font-size: 1.1em;
    font-weight: 500;
}

header .dropdown-menu a{
    color: var(--texto-escuro)!important;
    
}
header .dropdown-menu li a:hover{
    background-color:var(--bg-primario-hero)!important;
    color: var(--texto-claro)!important;
    
}
header .img-fluid{
   width: 120px;
   height: auto; 
   display: block;
     margin: 0 auto; /* centraliza */
}

@media (min-width: 1024px) {

    /* CSS: mantém o menu visível ao passar o mouse */
    .dropdown:hover > .dropdown-menu {
    display: block;
    }

    /* Impede “piscar” ao sair do toggle */
    .dropdown-toggle::after { pointer-events: none; }
}
