header {
    background: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria)) !important;
}
header .navbar-brand img{
    width: auto;
    height: 80px;
}

header nav.navbar {
    background-color: #00000000 !important;
}

header a.nav-link {
    color: var(--texto-claro) !important;
    font-size: 1.1em;
    font-weight: 500;
}

header .img-fluid {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
    /* centraliza */
}

@media (min-width: 1024px) {}