#planos_precos {
    /*background-color: var(--bg-primario-hero);*/
    /*background: linear-gradient(to right, var(--bg-primario-hero), var(--bg-secundario-hero));*/
}
#planos_precos h2{
    color: var(--texto-escuro);
}
#planos_precos h2::after{
    width: 250px;
    background-color: var(--texto-escuro);
}
#planos_precos h4{
    font-size: 1.9em;
    color: var(--texto-claro);
    background-color: var(--cor-azul);
    padding: 8px 0;
    border-radius: 10px 10px 0 0 ;
}
#planos_precos .completo h4{
    background-color: var(--cor-azul-escuro);
}
#planos_precos ul {
    list-style: none;
    padding: 5px 20px;
}
#planos_precos ul li{
    list-style: none;
    padding: 5px 0;
    color: var(--texto-escuro);
    font-weight: 500;
}
#planos_precos #planos .linha::after{
    content: "";
    margin: 8px auto 0 auto;
    width: 90%;
    height: 2px;
    background-color: var(--bg-escuro);
    border-radius: 3px;
}
#planos_precos .row div.back-fff.completo{
    background-color: var(--bg-claro2)!important;
    border-radius: 10px;
    box-shadow: 0px 2px 8px #eee;
    padding: 0;
}
#planos_precos .row div.back-fff{
    background-color: var(--bg-claro)!important;
    border-radius: 10px;
    box-shadow: 0px 2px 8px #eee;
    padding: 0;
}

/*
    BUTTON
*/
#planos_precos a{
    font-weight: 500;
    padding: 7px 25px;
    max-width: 250px;
    border-radius: 50px;
    color: var(--texto-claro);
    background-color: var(--verde-success);
    border: 2px solid var(--verde-success);
    display: flex;
    align-self: center;
    margin-bottom: 15px;
}
#planos_precos a:hover{

}
