#problema_solucao{
  overflow-x: hidden;
}
#problema_solucao h2{
  color: var(--texto-escuro);
}
#problema_solucao .infografico p{
  color: var(--texto-escuro);
  font-size: 1.2em;
}

#problema_solucao .infografico i{
  font-size: 5em;
  color: var(--cor-primaria);
}

#problema_solucao .barra {
  width: 100%;
  height: 10px;
  background: #eee;
  border-radius: 5px;
  margin: 10px auto;
}
#problema_solucao .preenchido {
  height: 10px;
  background: var(--cor-primaria);
  border-radius: 5px;
}


@media (min-width: 1024px) {
  /* Aqui entram os estilos só para telas grandes (como notebooks e PCs) */
  #problema_solucao span.text-danger{
    font-size: 2.5em;
    font-weight: bold;
  }

}