:root {
  --cor-primaria: #0589a0;
  --cor-secundaria: #2eccc4;
  --texto-claro: #ffffff;
  --texto-escuro: #444;
  --bg-primario-hero: #139cb4; 
  --bg-secundario-hero: #2eccc4; 
  --bg-claro: #ecffff; 
  --bg-escuro: #e5f1f1; 

  /*--verde-success: #08e608;*/
  --verde-success: #0ad80a;
  --vermelho: #bd1a1a;
}