:root {
  --cor-primaria: #05a041;
  --cor-secundaria: #2ecc71;
  --texto-claro: #ffffff;
  --texto-escuro: #333;
  --bg-primario-hero: #16b646; 
  --bg-secundario-hero: #0eaa3d; 
  --bg-claro: #fff; 
}

.cor-primary{

}